/* .otp-card {
  padding: 30px !important;
  width: 100% !important;
  max-width: 400px !important;
  border-radius: 10px !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
  background: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  animation: slide-up 0.8s ease-out !important;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
} */

/* .otp-input-wrapper {
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 20px !important;
} */

.otp-input {
  text-align: center !important;
  width: 60px !important;
  height: 60px !important;
  font-size: 1.5em !important;
  border-radius: 8px !important;
  background-color: rgba(255, 182, 193, 0.382) !important;
  transition: all 0.3s ease-in-out !important;
  box-shadow: 0 0 5px rgb(0, 0, 0) !important;
  margin: 0 5px !important;
  border: 1px solid #ccc !important;
  outline: none !important;
}

.otp-input:focus {
  border-color: #452212 !important;
  box-shadow: 0 0 15px #452212 !important;
}

@media (max-width: 600px) {
  .otp-input-wrapper {
    flex-wrap: wrap !important; /* Allow inputs to wrap */
    justify-content: space-between !important; /* Space out inputs */
    margin: 0 10px !important; /* Margin for small screens */
  }

  .otp-input {
    width: calc(25% - 10px) !important; /* Responsive width */
    height: 60px !important;
    margin: 5px !important; /* Adjust margin for spacing */
  }
}
