/* 
************************************************************************************ */

.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.navbar-custom {
  height: 70px;
  display: flex;
  align-items: center;

  padding: 0 15px;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.profile-icon {
  margin-left: auto;
}

.profile-icon img {
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar {
  height: calc(100vh - 70px);
  width: 70px;
  background-color: #343a40;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 70px;
  position: fixed;
  top: 70px;
  transition: width 0.3s;
  z-index: 999;
}

.sidebar.expanded {
  width: 250px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow-y: auto;
  flex-grow: 1;
}

.nav-link {
  color: #fff;
  background-color: #343a40;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link.active,
.nav-link:hover {
  color: #fff;
  background-color: #5f6163;
}

.icon {
  font-size: 1.5rem;
  margin-right: 10px;
  color: inherit;
}

.separator {
  border-top: 1px solid #b9d6f4;
  margin: 10px 0;
}

.logout-link {
  margin-top: auto;
  color: #fff;
  background-color: #343a40;
}

.logout-link.active,
.logout-link:hover {
  color: #fff;
  background-color: #575859;
}

hr {
  height: 10px;
  background-color: #dee2e6;
}

.span {
  color: #adb5bd;
}

.content {
  flex-grow: 1;
  margin-top: 70px;
  margin-left: 70px;
  padding: 20px;
  overflow-y: auto;
  height: calc(100vh - 70px);
  background-color: #f8f9fa;
}
