/* Container for the entire app */
.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Custom styling for the Navbar */
.custom-navbar {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #e1e6ea;
}
.sidebar-toggle {
  font-size: 1.5rem;
  cursor: pointer;
  color: #3d68f5;
}

/* Styling for the profile icon */
.profile-icon-wrapper {
  margin-left: auto;
}
.task-name {
  font-size: 25px;
  font-weight: 900;
  color: #363ed0;
  margin-left: 20px;
}

.profile-icon-wrapper img {
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
  object-fit: cover;
}

/* Sidebar styling */
.custom-sidebar {
  height: calc(100vh - 70px);
  width: 70px;
  background-color: #e1e6ea;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 70px;
  position: fixed;
  top: 70px;
  transition: width 0.3s;
  z-index: 999;
}

.custom-sidebar.expanded {
  width: 250px;
}

/* Navigation styling within the sidebar */
.sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow-y: auto;
  flex-grow: 1;
}

/* Individual navigation links */
.nav-link-custom {
  color: #3d68f5;
  background-color: #e1e6ea;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;

  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 20px;
  margin-bottom: 20px;
}

/* Active and hover state styling for nav links */
.nav-link-custom.active,
.nav-link-custom:hover {
  color: #020546;
  background-color: #b7d5ee !important;
}

/* Icon styling within nav links */
.icon-custom {
  font-size: 1.5rem;
  margin-right: 10px;
  color: inherit;
}

/* Separator line styling */
.sidebar-separator {
  border-top: 1px solid #b9d6f4;
  margin: 10px 0;
}

/* Logout link styling */
.logout-link-custom {
  margin-top: auto;
  color: #447ffe;
  background-color: #e1e6ea;
}

.logout-link-custom.active,
.logout-link-custom:hover {
  color: #020546;
  background-color: #b7d5ee;
}

/* Content area styling */
.content-area {
  flex-grow: 1;
  margin-top: 70px;
  margin-left: 70px;
  padding: 20px;
  overflow-y: auto;
  height: calc(100vh - 70px);
  background-color: #f8f9fa;
}


/* Add this to your CSS file */
nav a {
  text-decoration: none;
  color: black;
  /* Default color */
}

nav a.active {
  font-weight: bold;
  color: blue;
  /* Active link color */
}

.center {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);

}
.header {
  color: #452212 !important;
  text-align: center;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace !important;
}
.bg_image {
  background-image: url("./assets/images/forget_otp.jpg") !important;
  background-size: cover !important;
  background-position: center !important;
  min-height: 100vh !important;
  display: flex !important;
  align-items: center !important;

  justify-content: center !important;
  font-family: Arial, sans-serif !important;
}

.trans-card {
  padding: 30px !important;
  width: 100% !important; /* Responsive width */
  max-width: 600px !important;
  border-radius: 10px !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
  background: rgba(
    255,
    255,
    255,
    0.1
  ) !important; /* Slight white background with transparency */
  backdrop-filter: blur(10px) !important; /* Apply blur effect */
  -webkit-backdrop-filter: blur(10px) !important; /* Support for Safari */
}

input::placeholder {
  color: #a5582c !important;
}

input {
  padding: 10px !important;
  border: none !important;
  background-color: transparent !important;
  color: black !important;
  border-radius: 0 !important;
  border-bottom: 1px solid black !important;
}
.icons {
  color: #a5582c !important;
}

label {
  color: #452212 !important;
  font-size: 1rem !important;
}

.verify-button {
  margin-top: 20px !important;
  font-size: 1.2em !important;
  padding: 10px !important;
  border-radius: 8px !important;
  background-color: #452212 !important;
  color: #fff !important;
  width: 100%;
  transition: background-color 0.3s ease-in-out !important;
  box-shadow: 0.3s ease-in-out !important;
}

.verify-button:hover {
  background-color: #a5582c !important;

  box-shadow: 0 0 15px #a5582c !important;
}
